html { margin-top: 0;
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
 box-sizing: border-box}

.navbar{
    background-color: white;}

nav {display: flex;
         flex-direction: row;
        justify-content: space-evenly;}

.logo {display:block;
    width: 400px;
     margin-left: auto;
    margin-right: auto;
  }

header {
    background-image: url(img/header_background.jpg);
    background-size: cover;
    width: 100%;
    max-width: 1336px;
    position: relative;
}

.content {
    display: grid;
    grid-template-columns: repeat(12, 100px);
    grid-template-rows: repeat(12, 100px);
    align-content: center;
    justify-content: center;
}

.content div {display:flex;
    align-items:center;
    justify-content: center;
    font-size: 1.5rem;
    border: 1px solid white ;
    font-family: sans-serif;
    padding: 0.5rem 0;
    color: white;}

.content div:nth-child(1){
    grid-area: 1/2/4/12
}

.content div:nth-child(2){
    grid-area: 4/2/9/7;
}

.content div:nth-child(3){
    grid-area: 4/7/9/12
}

body {
    background-color: black;
}

footer {
    text-align: center;
    background-color: white;
    height: 50px;
}
/*base style*/

/* mobile*/
@media screen and (max-width: 400px;)
body { background-color: black;}
/*tablet styles*/
@media screen and (min-width: 401px) and (max-width: 960px)
body {background-color: black}
/* desktop style*/
@media 
body {background-color: black}
