@import 'reset';
@import 'variables';
@mixin center ($height){ 
    display: flex;
    justify-content: center;
    align-items: center;
    height:$height;
    
}

body {
    font: 100% $font-stack;
    color: $primary-color;
}

#content {

     
    article {
        height:100%;
        position: relative;
        display: inline-block;
        margin: 0 auto;

        img {
            height: 100%;}

        .caption {
            position: absolute;
            left: 0;
            bottom: 2rem;
            color: $caption-color;
            background: $caption-background;
            padding: 0.5rem;}
        }


    
}

header,
section {
    @include center (300px);
    width: 100%;
    font-size: 2rem;
}
nav {
    @include center(80px);
    background-color: lightblue;
    font-size: 2rem;
}
header {
    background-color: lightcoral
}

footer {
    @include center(150px);
    width: 100%;
    font-size: 2rem;
    background-color: yellow;
    
}

// #content article,
// #content img {
//     height: 100%;
// }

// #content article {
//     position: relative;
//     display: inline-block;
//     margin: 0 auto;
// }

// #content .caption {
//     position: absolute;
//     left: 0;
//     bottom: 2rem;
//     color: $caption-color;
//     background: $caption-background;
//     padding: 0.5rem;
// }